 body {
     margin: 0;
     padding: 0;
     overflow: hidden;
     display: flex;
     font-family: sans-serif;
 }

 #universe {
     width: 90vw;
     height: 100vh;
     display: flex;
     background: linear-gradient(#306da7, #46729b, #7cbefc);
 }

 #icon-bar {
     width: 10vw;
     height: 100vh;
     border-left-style: solid;
     border-left-width: 1px;
     border-left-color: black;
     background: linear-gradient(#378357, #5fa075, #a1dabf);
 }

 .icons {
     position: relative;
     margin-top: 5%;
     margin-left: 15%;
     margin-right: 15%;
     width: 70%;
     height: 14%;
     display: block;
     aspect-ratio: 1/1;
     text-align: center;
     align-content: center;
     font-size: 100%;
     border-style: solid;
     border-radius: 50%;
     transition: transform 0.2s ease-in-out;
 }

 .icons:hover {
     transform: scale(1.1);
 }

 #chess {
     background-image: url(assests/chess.png);
     background-position: center;
     background-size: cover;
 }

 #gemini {
     background-image: url(assets/gemini.png);
     background-position: center;
     background-size: cover;
 }

 #marks {
     background-image: url(assets/marks.png);
     background-position: center;
     background-size: cover;
 }

 #github {
     background-image: url(assets/github.png);
     background-position: center;
     background-size: cover;
 }
